<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>TechCheap</title>
</head>
<body>
<noscript>
    <strong>Sorry but TechCheap doesn't work.</strong>
</noscript>
<div id="app"></div>
</body>
</html>
